/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 .projectsContainer {
  min-height: 100vh;
  padding: 50px;
  width: 768px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .projectsContainer {
    width: 100%;
  }
}