@keyframes paperplane {
    10% {
        transform: translate(-50px, 50px);
    }
    50% {
        transform: translate(600px, -300px);
    }
    70% {
        transform: translate(-100px, 150px) rotate(300deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

.paperplane[aria-live='assertive'] {
    animation: paperplane 5s ease-in-out;
    transform-origin: 32px 19px;
}