:root {
  --ifm-font-size-base: 95%;
  /* --ifm-heading-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important; */
  --ifm-heading-font-family: "Ubuntu Mono", serif;

  --gray-transparent-bg: rgba(86, 82, 110, 0.1);
}

:root {
  --ifm-color-primary: #d7827e;
  --ifm-color-primary-dark: #cf6964;
  --ifm-color-primary-darker: #cb5c57;
  --ifm-color-primary-darkest: #b63e38;
  --ifm-color-primary-light: #df9b98;
  --ifm-color-primary-lighter: #e3a8a5;
  --ifm-color-primary-lightest: #ebc1bf;
  --ifm-background-color: #f8f7f6 !important;
  --ifm-font-color-base: #575279 !important;

  --reduced-emphasis-color: var(--ifm-color-emphasis-600);

  --rose-hover: #21202e;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #eb6f92;
  --ifm-color-primary-dark: #e7517b;
  --ifm-color-primary-darker: #e54170;
  --ifm-color-primary-darkest: #d51e51;
  --ifm-color-primary-light: #ef8da9;
  --ifm-color-primary-lighter: #f19db4;
  --ifm-color-primary-lightest: #f8cad7;
  --ifm-background-color: #191724;
  /* --gray-transparent-bg: rgba(170, 170, 170, 0.1); */

  --gray-transparent-bg: rgba(82, 79, 103, 0.25);
  --reduced-emphasis-color: var(--ifm-color-emphasis-400);

  --ifm-background-color: #191724 !important;
  --ifm-font-color-base: #e0def4 !important;

  --rose-hover: #dfdad9;
}

main {
  background-color: var(--ifm-background-color) !important;
}

.navbar {
  height: 3.5rem;
  padding: 1rem;
}

.navbar__title {
  font-size: 1.4rem;
}

.navbar__items {
  gap: 1rem;
}

.navbar__inner {
  align-content: center;
}

.navbar__item {
  border-radius: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color: rgba(150, 150, 150, 0.5);
  transition: background-color 100ms linear;
}

.navbar__item:hover {
  background-color: var(--gray-transparent-bg);
  color: rgba(150, 150, 150, 0.5);
}

.navbar__link--active {
  background-color: var(--gray-transparent-bg);
  color: var(--ifm-navbar-link-color) !important;
}

nav.navbar.navbar--fixed-top {
  background-color: var(--ifm-background-color) !important;
}

.navbar-sidebar {
  background-color: var(--ifm-background-color) !important;
}

@media (min-width: 996px) {
  nav.navbar.navbar--fixed-top {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.01);
  }
}

.navbar-sidebar__close {
  width: 1rem;
  height: 1rem;
  /* background: var(--gray-transparent-bg); */
}

.navbar-sidebar__close > svg {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 997px) {
  .col[class*="docItemCol_"] {
    max-width: 60% !important;
  }
}
.col--3 {
  --ifm-col-width: 33% !important;
}
