@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&family=Noto+Serif+TC&display=swap');

@import url("./prism-rose-pine.css");
@import url("./docusaurus-rose-pine.css");
@import url("./search.css");
@import url("./tooltip.css");
@import url("./markdown.css");
@import url("./custom-utilities.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./shadcn.css");
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --borderWidth-thin: max(1px, 0.0625rem);
  --ifm-heading-font-family: "JetBrains Mono", serif;
}

* {
  font-family: var(--ifm-heading-font-family);
}

.navbar__logo {
  display: none;
}

.theme-doc-breadcrumbs {
  display: none;
}

.theme-doc-toc-mobile {
  display: none;
}

.navbar__items--right {
  display: none;
}

::selection {
  /* background: rgba(135, 167, 159, 0.5); */
  background: rgba(144, 140, 170, 0.5);
  color: white;
}

/* Style the scrollbar */
.theme-doc-sidebar-container::-webkit-scrollbar {
  width: 12px !important; /* Width of the scrollbar */
  height: 12px !important; /* Height of the scrollbar */
  background: none;
}

/* Style the scrollbar track */
.theme-doc-sidebar-container::-webkit-scrollbar-track {
  background: #f1f1f1 !important; /* Color of the scrollbar track */
  border-radius: 10px !important; /* Rounded corners of the track */
}

/* Style the scrollbar thumb */
.theme-doc-sidebar-container::-webkit-scrollbar-thumb {
  background: #888 !important; /* Color of the scrollbar thumb */
  border-radius: 10px !important; /* Rounded corners of the thumb */
}

/* Style the scrollbar thumb on hover */
.theme-doc-sidebar-container::-webkit-scrollbar-thumb:hover {
  background: #555 !important; /* Color of the scrollbar thumb when hovered */
}

main {
  background-color: var(--ifm-background-color) !important;
}

.navbar {
  height: 3.5rem;
  padding: 1rem;
}

.navbar__title {
  font-size: 1.4rem;
}

.navbar__items {
  gap: 1rem;
}

.navbar__inner {
  align-content: center;
}


.navbar__logo > img {
  width: 30px !important;
  height: 30px !important;
}

.navbar__item {
  border-radius: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color: rgba(150, 150, 150, 0.5);
  transition: background-color 100ms linear;
}

.navbar__item:hover {
  background-color: var(--gray-transparent-bg);
  color: rgba(150, 150, 150, 0.5);
}

.navbar__link--active {
  background-color: var(--gray-transparent-bg);
  color: var(--ifm-navbar-link-color) !important;
}

nav.navbar.navbar--fixed-top {
  background-color: var(--ifm-background-color) !important;
}

.navbar-sidebar {
  background-color: var(--ifm-background-color) !important;
}

@media (min-width: 996px) {
  nav.navbar.navbar--fixed-top {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.01);
  }
}

.navbar-sidebar__close {
  width: 1rem;
  height: 1rem;
  /* background: var(--gray-transparent-bg); */
}

.navbar-sidebar__close > svg {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 996px) {
  :root {
    --ifm-navbar-height: 0;
  }
  .col[class*="docItemCol_"] {
    max-width: 60% !important;
  }


  .navbar {
    display: none;
  }
}


.col--3 {
  --ifm-col-width: 33% !important;
}
