.markdown h1:first-child {
    --ifm-h1-font-size: 1.7rem;
    /* --ifm-h1-font-size: 0.9rem; */
    /* background-color: rgb(75 85 99 / 0.07);
    border-radius: 1rem;
    padding-inline: 0.75rem;
    padding-block: 0.75rem;
    width: fit-content;
    font-weight: 200; */
}

.markdown>h2 {
    --ifm-h2-font-size: 1.5rem;
}

.markdown>h3 {
    --ifm-h3-font-size: 1.3rem;
}