:root {
  --docsearch-key-gradient: 240 3.7% 15.9% !important;
  --docsearch-searchbox-background: var(--ifm-background-color) !important;
  --docsearch-container-background: none !important;
  --docsearch-hit-background: none !important;
  --docsearch-searchbox-focus-background: var(
    --ifm-background-color
  ) !important;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--gray-transparent-bg) !important;
  --docsearch-modal-background: #f8f7f6 !important;
  --docsearch-footer-background: var(--ifm-background-color) !important;

  /* Highlight icon button color */
  --docsearch-highlight-color: var(--gray-transparent-bg) !important;
  --docsearch-hit-active-color: var(--ifm-font-color-base) !important;

  --docsearch-button-text-color: var(--ifm-color-emphasis-600);
  --docsearch-button-bg-color: transparent;
  --docsearch-button-border: 0.05rem solid var(--ifm-color-emphasis-400);
}

[data-theme="dark"] {
  --docsearch-modal-background: var(--ifm-background-color) !important;
  --docsearch-button-text-color: var(--ifm-color-emphasis-600);
  --docsearch-button-bg-color: rgba(170, 170, 170, 0.05);
  --docsearch-button-border: none;
}

.DocSearch-Commands-Key {
  box-shadow: none !important;
  border: 2px solid var(--gray-transparent-bg) !important;
}

.DocSearch-Button {
  padding: 10px 10px !important;
  backdrop-filter: blur(10px);
  background-color: var(--docsearch-button-bg-color) !important;
  border: var(--docsearch-button-border) !important;
  border-radius: 5px !important;
}

.DocSearch-Button:hover {
  /* background: var(--gray-transparent-bg) !important;   */
  box-shadow: none !important;
  color: none !important;
}

.DocSearch-Button-Placeholder {
  font-size: 0.9rem !important;
  margin-right: 2rem;
  display: none;
  /* color: var(--docsearch-button-text-color) !important; */
}

.DocSearch-Container {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  color: black !important;
}

.DocSearch-Hit a {
  background-color: none !important;
}

.DocSearch-Hit-source {
  color: var(--ifm-font-color-base) !important;
}

.DocSearch-Hit-path {
  color: var(--ifm-color-emphasis-1000) !important;
}

.DocSearch-Title {
  color: var(--docsearch-muted-color) !important;
}

.DocSearch-Hits mark {
  /* color: var(--ifm-color-primary) !important; */
  background: var(--ifm-color-primary) !important;
  color: white !important;
  padding: 2px !important;
  border-radius: 0.3rem !important;
}

.DocSearch-Hit-path mark {
  background: var(--ifm-color-primary) !important;
  color: white !important;
  padding: 2px !important;
  border-radius: 0.3rem !important;
}

.DocSearch-MagnifierLabel {
  color: rgba(170, 170, 170, 0.5) !important;
}

.DocSearch-Search-Icon {
  /* color: rgba(170, 170, 170, 0.5) !important; */
  color: var(--docsearch-button-text-color) !important;
  width: 1rem;
  height: 1rem;
  margin-right: 0;
}

@media (min-width: 996px) {
  .DocSearch-Search-Icon {
    margin-right: 1rem;
  }
}

.DocSearch-Prefill {
  color: var(--ifm-color-primary) !important;
}

.DocSearch-NoResults-Prefill-List li {
  color: var(--ifm-font-color-base) !important;
}

.DocSearch-Reset {
  color: rgba(170, 170, 170, 0.5) !important;
}

.DocSearch-Logo svg {
  background-color: #003dff;
  padding: 0.25rem 0rem !important;
  border-radius: 0.3rem;
}

.DocSearch-Logo svg * {
  fill: white !important;
}

.DocSearch-Logo a {
  align-items: start;
}

.DocSearch-Cancel {
  color: rgba(170, 170, 170, 0.5) !important;
}

.DocSearch-Input {
  font-size: 1rem !important;
}

.DocSearch-MagnifierLabel svg {
  width: 1.3rem !important;
  height: 1.3rem !important;
}

.DocSearch-Form {
  box-shadow: none !important;
}
