.DocSearch-Modal {
  --docsearch-highlight-color: var(--ifm-font-color-base);
  /* var(--docsearch-hit-highlight-color) */
}

.DocSearch-Logo {
  align-items: center;
  display: none !important;
}

.DocSearch-Search-Icon {
  display: none;
}