.DocSearch-Modal {
  --docsearch-highlight-color: var(--ifm-font-color-base);
  --docsearch-hit-highlight-color: rgb(152, 147, 165, 0.1);
}

.DocSearch-Logo {
  align-items: center;
  display: none !important;
}

.DocSearch-Search-Icon {
  display: none;
}

.DocSearch-Clear {
  display: none;
}

.DocSearch-Divider {
  display: none;
}

.DocSearch-Footer {
  display: none !important;
}