.separatorRoot[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}

.separatorRoot[data-orientation='vertical'] {
  height: 100%;
  width: 1px;
}

.separatorRoot {
  background-color: var(--gray-transparent-bg);
}